@media (max-width: 1500px) {
  .header-bottom__buttonprev {
    left: 0;
  }
  .header-bottom__buttonnext {
    right: 0;
  }
  .excellent {
    background-position: 240px bottom;
  }
}

@media (max-width: 1300px) {
  .header-top__logo {
    margin-right: 0;
  }
  .header-top__menu {
    margin-left: 15px;
  }
  .header-top__search {
    margin-left: 25px;
  }
  .excellent {
    background-position: 170px bottom;
  }
}

@media (max-width: 1200px) {
  .realization__slider .slick-current {
    transform: initial;
  }
  .excellent {
    background-position: 60px bottom;
  }
  .posts__slider .slick-slide {
    margin-right: 20px;
  }
  .brand__inner img {
    margin: 30px;
  }
  .header-bottom {
    margin-top: 400px;
  }
 .header-top__menu {
    margin-left: 110px;
  }
  .header-top__menu-item + .header-top__menu-item {
    margin-left: 20px;
  }
  .posts-btn.posts-btnprev {
    left: calc(48% - 10px);
  }
  .posts-btn.posts-btnnext {
    right: calc(48% - 10px);
  }
}

@media (max-width: 1023px) {
  .burger__menu {
    display: block;
    margin-right: 20px;
    z-index: 10;
  }
  .header-top__menu-list {
    display: none;
  }
  .header-top__search {
    display: flex;
    align-items: center;
  }
  .header-top {
    justify-content: space-between;
  }
  .header-top__menu-item + .header-top__menu-item {
    margin-left: 0;
    margin-top: 20px;
  }
  .header-top__menu-list.header-top__menu-list--active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292323;
    padding-top: 135px;
    z-index: 10;
  }
  .excellent {
    background-image: none;
  }
  .header-top__menu-item + .header-top__menu-item {
    margin-top: 50px;
  }
  .header-top__menu-item a {
    font-size: 30px;
  }
 }

@media (max-width: 900px) {
  .header-bottom__suptitle {
    font-size: 25px;
  }
  .header-bottom__title {
    font-size: 38px;
  }
  #arrow {
    height: 30px;
  }
  .num__inner-box {
    margin: 30px 30px;
  }
  .posts-btn.posts-btnprev {
    left: calc(48% - 20px);
  }
  .posts-btn.posts-btnnext {
    right: calc(48% - 20px);
  }
  .header-bottom {
    margin-top: 280px;
  }
}

@media (max-width: 767px) {
  .header-bottom {
    margin-top: 135px;
  }
  .header-bottom__suptitle {
    font-size: 20px;
  }
  .header-bottom__title {
    font-size: 30px;
  }
  .header-bottom__text {
    padding: 0 50px;
  }
  .header-top__menu {
    margin-left: 0;
  }
  .header-top__menu-item + .header-top__menu-item {
    margin-top: 30px;
  }
  .header-top__menu-item a {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .realization__slider .slick-track {
    height: 325px;
  }
  .projects-tab {
    margin-top: 10px;
  }
  .excellent__text {
    font-size: 14px;
  }
  .excellent__list-item {
    font-size: 14px;
  }
  .excellent__list {
    margin-left: 15px;
  }
}

@media (max-width: 550px) {
  .footer-box__links,
  .footer-box__twits,
  .footer-box__widgets {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all .3s;
  }
  .footer-box__title {
    pointer-events: auto;
  }
  .footer-box__links.footer-box__title--active {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .3s;
  }
  .footer-box__twits.footer-box__title--active {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .3s;
  }
  .footer-box__widgets.footer-box__title--active {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .3s;
  }
  .footer-box__title::after {
    content: "";
    position: absolute;
    background-image: url('../images/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 10px;
    height: 10px;
    right: 80px;
    top: 7px;
    display: block;
  }
  .footer-box__title.custom-links::after {
    right: 85px;
    transition: all .3s;
    transform: rotate(-90deg);
    top: 10px;
  }
  .footer-box__title.custom-twits::after {
    right: 105px;
    transition: all .3s;
    transform: rotate(-90deg);
    top: 10px;
  }
  .footer-box__title.custom-widgets::after {
    right: 55px;
    transition: all .3s;
    transform: rotate(-90deg);
    top: 10px;
  }
  .footer-box__title.custom-links.arrow::after {
    transform: rotate(0deg);
    transition: all .3s;
    top: 10px;
  }
  .footer-box__title.custom-twits.arrow::after {
    transform: rotate(0deg);
    transition: all .3s;
    top: 10px;
  }
  .footer-box__title.custom-widgets.arrow::after {
    transform: rotate(0deg);
    transition: all .3s;
    top: 10px;
  }
}



@media (max-width: 480px) {
  .slick-dots {
    margin-top: 150px;
  }
  .realization__slider .slick-track {
    height: 235px;
  }
  .projects-content__item-img img {
    max-width: 100%;
  }
  .excellent__list-item {
    line-height: 25px;
  }
  .posts-btn.posts-btnprev {
    left: calc(48% - 30px);
  }
  .posts-btn.posts-btnnext {
    right: calc(48% - 30px);
  }
}

@media (max-width: 380px) {
  .slick-dots {
    margin-top: 70px;
  }
  .realization__slider .slick-track {
    height: 185px;
  }
  .video__inner-title {
    font-size: 20px;
  }
  .posts__slider-img img {
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .header-top__logo-mono {
    display: block;
  }
  .header-top__logo-link {
    display: none;
  }
  .posts__slider .slick-slide .slider-box {
    width: 290px;
  }
}

@media (max-width: 320px) {
  .header-bottom {
    margin-top: 50px;
  }
  .header-bottom__suptitle {
    font-size: 15px;
  }
  .header-bottom__title {
    font-size: 20px;
  }
  .realization__slider .slick-track {
    height: 155px;
  }
  .header-bottom__text {
    font-size: 12px;
  }
  .posts__slider .slick-slide .post__slider-info {
    padding-bottom: 10px;
    padding-right: 5px;
  }
  .posts__slider .slick-slide .posts__slider-link::after {
    bottom: 16px;
  }
}

