@media (max-width: 1300px) {
  .header-top__logo {
    margin-right: 0;
  }
  .header-top__menu {
    margin-left: 15px;
  }
  .header-top__search {
    margin-left: 25px;
  }
}

@media (max-width: 1024px) {
  .burger__menu {
    display: block;
    margin-right: 20px;
  }
  .header-top__menu-list {
    display: none;
  }
  .header-top__search {
    display: flex;
    align-items: center;
  }
  .header-top {
    justify-content: space-between;
  }
  .header-top__menu-item + .header-top__menu-item {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .header-top__logo-mono {
    display: block;
  }
  .header-top__logo-link {
    display: none;
  }
}