html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1235px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin-bottom: 90px;
}

.header-top {
  display: flex;
  align-items: center;
  padding-top: 35px;
}

.header-top__logo {
  margin-right: 100px;
}

.header-top__menu {
  margin-left: 100px;
}

.header-top__menu-list {
  display: flex;
}

.header-top__menu-item + .header-top__menu-item {
  margin-left: 35px;
}

.header-top__menu-item a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.header-top__menu-item.header-top__menu-item--active a {
  color: #C7B299;
}

.header-top__search {
  display: flex;
  margin-left: 55px;
}

.header-top__search a + a {
  margin-left: 30px;
}

.header-bottom {
  margin-top: 238px;
}

.header-bottom__slider-item {
  text-align: center;
}

.header-bottom__suptitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #fff;
}

.header-bottom__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: #fff;
  margin-top: 17px;
  margin-bottom: 25px;
}

.header-bottom__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 595px;
  margin: 0 auto;
}

.header-bottom__btn,
.projects__btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  background-color: #998675;
  color: #fff;
  padding: 16px 38px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 #736357;
  cursor: pointer;
  margin-top: 50px;
}

.header-bottom__button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 20%;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.header-bottom__buttonprev, {
  left: -150px;
}

.header-bottom__buttonnext {
  right: -150px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 255px;
  padding-bottom: 30px;
}

.header-bottom__button svg g path {
  fill: #D3C1AD !important;
}

.header-bottom__button.slick-disabled svg g path {
  fill: #fff !important;
}

#arrow {
  height: 75px;
}

.slick-dots li button {
  border: 1px solid white;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  font-size: 0;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.slick-dots .slick-active button {
  border: 2px solid #B3A494;
  background-color: transparent;
  width: 15px;
  height: 15px;
}

.categories {
  margin-bottom: 80px;
}

.categories__inner {
  display: flex;
  justify-content: space-between;
}

.categories__box {
  text-align: center;
  width: 268px;
  cursor: pointer;
}

.categories__box:hover .categories__box-text::after {
  background-color: #B3A494;
}

.categories__box:hover .categories__box-title {
  color: #B3A494;
}

.categories__box-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__box-link img {
  margin-bottom: 30px;
}

.categories__box-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #303030;
  margin-bottom: 18px;
}

.categories__box-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  padding-bottom: 38px;
  position: relative;
}

.categories__box-text::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: 0;
  left: 100px;
  background-color: #F1EEE9;
}

.realization {
  margin-bottom: 80px;
}

.realization-top,
.projects-top {
  margin-bottom: 35px;
}

.realization-top__inner,
.projects-top__inner,
.posts__inner-top {
  text-align: center;
}

.realization-bottom {
  margin-bottom: -4px;
}

.realization-bottom__inner img {
  max-width: 100%;
}

.banner {
  cursor: pointer;
}

.banner img {
  max-width: 100%;
}

.realization-top__inner-title,
.projects-top__inner-title,
.posts__inner-toptitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin-bottom: 25px;
}

.realization-top__inner-text,
.projects-top__inner-text,
.posts__inner-toptext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  max-width: 760px;
  margin: 0 auto;
}

.projects-tabs {
  margin-bottom: 40px;
}

.projects-tabs__inner {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.projects-tab {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #8c8c8c;
  padding: 10px 18px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
}

.projects-tab.projects-tab--active {
  background-color: #998675;
  color: #fff;
}

.projects-tab + .projects-tab {
  margin-left: 10px;
}

.projects-content__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects-content__box {
  display: none;
}

.projects-content__box.projects-content__box--active {
  display: flex;
}

.projects-content__item {
  margin-bottom: 30px;
  position: relative;
}

.projects-content__item-infoblock {
  min-height: 100px;
  background-color: #FBFAF8;
  position: relative;
}

.projects-content__item-infoblock::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #FBFAF8;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: -15px;
  left: 20px;
}

.projects-content__item-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  margin-bottom: 10px;
  padding-top: 27px;
  margin-top: -4px;
  padding-left: 30px;
}

.projects-content__item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #d1d1d1;
  padding-left: 30px;
}

.projects-content__item-imglink,
.projects-content__item-imglupa {
  display: none;
  position: absolute;
  top: 30%;
  cursor: pointer;
}

.projects-content__item-imglink {
  left: 40%;
}

.projects-content__item-imglupa {
  left: 50%;
}

.projects-content__item-img {
  position: relative;
}

.shadow-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
}

.projects-content__item:hover .shadow-box {
  display: block;
}

.projects-content__item:hover .projects-content__item-infoblock {
  background-color: #362F2D;
}

.projects-content__item:hover .projects-content__item-infoblock::before {
  border-bottom: 15px solid #362F2D;
}

.projects-content__item:hover .projects-content__item-title {
  color: #fff;
}
.projects-content__item:hover .projects-content__item-text {
  color: #c7b299;
}

.projects-content__item:hover .projects-content__item-imglink,
.projects-content__item:hover .projects-content__item-imglupa {
  display: block;
}

.projects__button {
  text-align: center;
}

.projects__btn.projects__btn-custom {
  margin-top: 10px;
}

.video__inner {
  background-image: url('../images/video-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__inner-link {
  margin-bottom: 40px;
}

.video__inner-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}

.video__inner-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 35px;
  max-width: 565px;
  text-align: center;
}

.video__inner-time {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #c7b299;
}

.excellent {
  min-height: 695px;
  background-image: url('../images/excellent-bg.png');
  background-repeat: no-repeat;
  background-position: 350px bottom;
}

.excellent__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 695px;
  margin-left: auto;
  width: 655px;
}

.excellent__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin-bottom: 40px;
}

.excellent__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin-bottom: 40px;
}

.excellent__list {
  margin-left: 50px;
}

.excellent__list-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #8c8c8c;
  padding-left: 55px;
  position: relative;
}

.excellent__list-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background-image: url('../images/arrow-list.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 21px;
  height: 21px;
}

.num {
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  margin-bottom: 80px;
}

.num__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}

.num__inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num__inner-boximg {
  margin-bottom: 25px;
}

.number {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 48px;
  line-height: 36px;
  color: #fff;
}

.num__inner-boxtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c7b299;
  padding-bottom: 30px;
  position: relative;
}

.num__inner-boxtitle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.posts__inner {
  margin-bottom: 40px;
}

.slider-box {
  width: 370px;
  position: relative;
}

.posts__slider .slick-current .posts__slider-img .shadow-box {
  display: block;
}

.posts__slider .slick-current .post__slider-info {
  background-color: #362F2D;
  border: 1px solid #362F2D;
}

.posts__slider .slick-current .posts__slider-title {
  color: #c7b299;
}

.posts__slider .slick-current .posts__slider-text {
  color: #fff;
}

.posts__slider .slick-current .slider-date__top {
  background-color: #C7B299;
}

.posts__slider .slick-current .slider-date__bottom {
  background-color: #A48D72;
}

.posts__slider-img {
  position: relative;
}

.post__slider-info {
  padding-left: 30px;
  border: 1px solid #F8F8F8;
  padding-top: 30px;
  margin-top: -4px;
  min-height: 175px;
}

.posts__slider-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #555555;
  margin-bottom: 18px;
}

.posts__slider-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin-bottom: 20px;
}

.posts__slider-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #c7b299;
}

.slider-date {
  width: 50px;
  height: 60px;
  position: absolute;
  z-index: 5;
  top: 20px;
  left: 20px;
}

.slider-date__top {
  background-color: #363636;
  color: #fff;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
}

.slider-date__bottom {
  background-color: #252525;
  height: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.posts__slider-link::after {
  content: "";
  position: absolute;
  background-image: url('../images/link-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 5px;
  height: 8px;
  bottom: 24px;
  left: 115px;
}

.posts-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 110%;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.posts-btnprev {
  left: calc(48% - 5px);
}

.posts-btnnext {
  right: calc(48% - 5px);
}

.posts-btn svg g path {
  fill: #D3C1AD !important;
}

.posts-btn.slick-disabled svg g path {
  fill: #D7D7D7 !important;
}

.posts {
  margin-bottom: 140px;
}

.brand {
  background-image: url('../images/brand-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 490px;
}

.brand__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
   min-height: 490px;
}

.footer {
  min-height: 510px;
  background-color: #191919;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 510px;
  padding-top: 80px;
  padding-bottom: 50px;

}

.footer-box {
  position: relative;
  width: 260px;
}

.footer-box.footer-box__custom {
  width: 270px;
}

.footer-box__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 25px;
}
.footer-box__text.logo-text {
  margin-bottom: 30px;
}

.footer-box__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 28px;
  margin-top: 20px;
}

.footer-box__date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  margin-bottom: 8px;
}

.footer-box__link:hover .footer-box__date {
  color: #fff;
}

.footer-box__link:hover .footer-box__text {
  color: #c7b299;
}

.footer__logo-link {
  margin-bottom: 30px;
}

.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
}

.footer__link::after {
  content: "";
  position: absolute;
  background-image: url('../images/footer-link-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 5px;
  height: 8px;
  bottom: 5px;
  left: 90px;
}

.footer-box__link + .footer-box__link {
  padding-top: 20px;
  border-top: 1px solid #252525;
}

.footer-box__twit + .footer-box__twit {
  padding-top: 20px;
  border-top: 1px solid #252525;
}

.footer-box__twit {}
.footer-box__text-twit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 8px;
}
.footer-box__date-twit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  margin-bottom: 25px;
}

.footer-box__text-twit span {
  color: #03A8D5;
}

.footer-box__text-twit .twit-custom {
  color: #959595;
}

.footer-box__widgets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box__widget {
  margin-bottom: 5px;
}

.footer-bottom {
  background-color: #111111;
  height: 110px;
}

.footer-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.footer-bottom__left-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}
.footer-bottom__left-text span {
  color: #959595;
}

.footer-bottom__left-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

.footer-bottom__left-link:hover {
  color: #C7B299;
}

.footer-bottom__right-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

.footer-bottom__left-list {
  display: flex;
}

.footer-bottom__left-item {
  margin-right: 10px;
}

.footer-bottom__left-item + .footer-bottom__left-item {
  padding-left: 10px;
  border-left: 1px solid #252525;
}

.footer-bottom__right {
  display: flex;
}

.footer-bottom__right-text {
  margin-right: 10px;
}

.footer-bottom__right-text + .footer-bottom__right-text {
  padding-left: 10px;
  border-left: 1px solid #252525;
}

.footer-bottom__right-text span {
  color: #959595;
}

.burger__menu {
  display: none;
}

.burger__menu span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.burger__menu span + span {
  margin-top: 4px;
}
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/